
@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .tb {
        margin-left: 100px;
    }

    body {
        font-family: "Lato", sans-serif;
    }

    .sidenav {
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 20px;
        left: -10px;
        background: black;
        overflow-x: hidden;
        padding: 8px 0;
        height: 700px;
    }

        .sidenav a {
            padding: 50px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: white;
            display: block;
        }

            .sidenav a:hover {
                color: #064579;
            }

    .main {
        margin-left: 140px; /* Same width as the sidebar + left position in px */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    media screen and (max-height: 450px) {
        .sidenav

    {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
    }
</style>

<div class="sidenav">
    <a class="nav-link" asp-controller="customers" asp-action="Details">My Profile</a>
    <a class="nav-link" asp-controller="customers" asp-action="OrderHistory">My Orders</a>
    <a class="nav-link" asp-controller="customers" asp-action="custEdit">Edit Profile</a>
    <a class="nav-link" asp-controller="customers" asp-action="password">Reset Password</a>
    <a class="nav-link" asp-controller="customers" asp-action="Feedback">FeedBack</a>
</div>
<h2>Products</h2>

<table class="table table-hover">
    <tr>
        <th>
            Product ID
        </th>
        <th>
            Product Name
        </th>

        <th>
            Action
        </th>
    </tr>
    @foreach (var item in ViewBag.p)
    {
        <tr>
            <td>
                @item.ProductId
            </td>
            <td>
                @item.ProductName
            </td>
            <td>
                <a asp-controller="cart" asp-action="Details" class="btn btn-info"
                   asp-route-id="@item.ProductId">Product Details</a>
            </td>
        </tr>
    }
</table>
<a asp-controller="Customer" asp-action="OrderHistory" class="btn btn-info">Back </a>
</br>
